* {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    background:red;
    font-size:18px;
    font-family:Arial, Helvetica, sans-serif;
}

p {
   font-weight:700;
   padding-bottom:2em;
}
